.rockstarh1{
    position: absolute;
    left: 42%;
    top: 0%;
    color: rgb(190,190,190);
}
.rockstarhomebutton{
    position: absolute;
    left: 5;
    top: 4%;
    color: rgb(190,190,190);
}

body{
    background-color: rgb(20,20,40);
}

/**Stranger Things**/
.stcover{
    position: absolute;
    border-radius: 4%;
    top: 20%;
    left: 5%;
}